@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400&family=Montserrat:wght@100;200;300;400&family=Roboto:wght@100&display=swap');

:root {
    --color-texto: black;
    --padding-defecto: 20px;
    --fondo-defecto: #fff;
    --fondo-defecto-darkMode: rgb(26, 25, 25);
    --fondo-section: #F6F5E2;
    --fondo-card-tour: #F6F5E2;
    --btn-color: #66fabf;
    --btn-color-hover: #F3B562;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.section-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.tours-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
}

.tours {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    margin: 1.75rem;
    grid-template-columns: repeat(auto-full, minmax(288px, 1fr));
}

.tours-cards {
    background-color: var(--fondo-card-tour);
    border-radius: 1.75rem;
    max-width: 50rem;
    padding: 1.75rem;
    display: flex;
    flex-wrap: wrap;
}

.tours-cards-content-img {
    width: auto;
    height: 20rem;
    border-radius: 1.75rem;
    margin: 1.75rem;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 20px;
}

.img-card1,
.img-card2,
.img-card3,
.img-card4 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.provincias {
    flex-basis: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.tours-cards-content {
    flex-basis: 100%;
    margin-top: 1.2rem;
}


.btn-reserva {
    background-color: var(--btn-color);
    border: none;
    border-radius: 1.75rem;
    padding: 0.7rem 1.75rem;
    margin-top: 1.2rem;
    text-align: center;
    align-items: center;
    font-size: medium;
    color: #FFF;
    font-weight: lighter;
}

.btn-reserva:hover {
    background-color: var(--btn-color-hover);
    transition: all 0.3s ease 0s;
}


@media only screen and (min-width : 230px) and (max-device-width : 1025px) {

    .tours-title {
        padding: 30px;
        font-size: xx-large;
    }

    .tours {
        padding: 50px;
        font-size: xx-large;
    }

    .tours-cards {
        padding: 40px;
        margin: 40px;
    }

    .tours-cards-content-img {
        width: auto;
        height: 350px;
        margin: 2%;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    /* igual */
    .provincias,
    .tours-cards-content-text {
        margin: 10px;
    }

    .provincias {
        font-size: 40px;
    }

    .btn-reserva {
        width: 250px;
        height: 80px;
        font-size: 30px;
    }
}